#Portfolio{
    /* margin-top: -30vh; */
    background: linear-gradient(0deg,#212121,#263238);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    min-height: 50vh;
    transition: 0.5s;
    position: relative;
    padding-bottom:10vh;
}



#Portfolio::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#263238,#ECEFF1);
    clip-path: circle(30% at right 70%);
}
#Portfolio::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ECEFF1,#263238);
    clip-path: circle(20% at 0% 20%);
}

.portfolio-card{
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 1.2%;
    max-width: 27%;
    padding: 1.965%;
    width: 100%;
    box-shadow: 0 0 5px    rgba(255, 255, 255, 0.651);
    background: rgba(255, 255, 225, 0.05);
    border-radius: 4px;
    backdrop-filter: blur(10px);
}
.portfolio-card:active{
    box-shadow: 0 0 0px black;
    background-color: #4b4b4b;
}

.portfolio-card:hover img{
    width: 110%;
}
.portfolio-card:hover h3{
    text-shadow: 2px 2px 2px black;
}
.portfolio-card:hover p{
    text-shadow: 2px 2px 2px black;
}
.portfolio-card:hover{
    box-shadow: 0 0 20px black;
    background-color: #969696;
}
.portfolio-card-content {
    position: relative;
    width: 100%;


}
.portfolio-card-details{
    color: #f4f4f4;

}
.portfolio-card-details h3{
    padding: 10px 0px;
}
.portfolio-card-image{
    width: 100%;
    border-radius: 4px;
    height: 225px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;    
    overflow: hidden;
}
.portfolio-card-image img{
    width: 100%;
}



@media screen and  (max-width: 500px) {
    .portfolio-card{
        margin: 3%;
        padding: 3%;
        max-width: 88%;
    }
    .portfolio-card-image{
        height: 150px;
    }
}
@media screen and (min-width: 501px) and (max-width: 670px) {
    .portfolio-card{
        margin: 2.5%;
        padding: 2.5%;
        max-width: 90%;
    }
    .portfolio-card-image{
        height: 175px;
    }
}
@media screen and (min-width: 671px) and (max-width: 920px){
    .portfolio-card{
        margin: 1%;
        max-width: 44%;
        padding: 2%;
    }
    .portfolio-card-image{
        height: 200px;
    }
}
@media screen and (min-width: 1440px) {
    .portfolio-card{
        margin: 0.5%;
        max-width: 22%;
        padding: 1%;
    }
}
.webDialog{
    align-items: start!important;
    overflow-y: scroll!important;
}